body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  background: #ffffff
  margin: 0;
}
ul {
	list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
    color: currentColor;
    text-decoration: none;  
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h1, h2, h3, h4, p {
margin-top: 0;
margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.top {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid#E7E9FC;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
  color: #2E2F42;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.header-container {
  display: flex;
  align-items: center; 
  justify-content: center;  
}

.menu {
  display: flex;
  align-items: center;


}

.menu-navigation {
display: flex;
align-items: center;
gap: 40px;
}
.menu-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-link:hover,
.menu-link:focus
 {
  color: #404BBF;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  
 
}
.contacts-element {
  
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}
.contacts-element:hover,
.contacts-element:focus
 {
  color: #404BBF;
}
.header {
  background: #2E2F42;
  padding: 188px 0;

}

.header-title {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  align-items: center;
  max-width: 496px;
  

}

.header-order-btn {
  background: #4D5AE5;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  min-width: 169px;
}
.header-order-btn:hover, .header-order-btn:focus {
  background: #404BBF;
}

.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  
  
}
.advantages-item {
  width: calc((100% - 72px) / 4);
  justify-content: flex-start;
}

.advantages-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-description {
    line-height: 1.5;
    letter-spacing: 0.02em;

    
}
.team {
  background: #F4F4FD;
}
.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);

}

.team-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 32px;
 
  }

  .team-card {
    padding: 32px 0;
  }
.team-member {
      color: #2E2F42;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
}

.team-decrription {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  ustify-content: center;

}
.portfolio-item {
width: calc((100% - 48px) / 3);

}
.portfolio-img {

}
.portfolio-descr {
  padding: 32px 16px;
  border-top: 0;
  border-right: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC  ;
}
.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.porfolio-name-descr {
    line-height:1.5;
    letter-spacing: 0.02em;
}

.footer {
  background: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  
}
.footer-studio {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}
.footer-logo {
display: inline-block;
margin-bottom: 16px;
}

.footer-descr {
color: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.02em;
}